.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 16px; /* Espacio entre los botones */
  width: 100%;
}
.custom-button2 {
  background-color: black !important;
  color: white !important;
  border: 2px solid red !important;
  width: 8em;         /* Ancho en unidades relativas */
  height: 2.8em;         /* Altura en unidades relativas */
  font-size: 1rem;     /* Tamaño de texto relativo */
  padding: 0.5em 1em;  /* Espaciado interno relativo */
  display: inline-block;
  margin: 5px auto;   /* Centra los botones horizontalmente */
}


.custom-button:hover {
  background-color: darkgray !important; /* Fondo al pasar el ratón */
  border: 2px solid red !important;      /* Bordes rojos al pasar el ratón */
}
.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
}

.snackbar-warning {
  background-color: yellow;
  color: black;
}
