<app-menu>
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
  </div>

  <ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
      <mat-card class="login-card">
        <img src="assets/images/MegaTrans.png" alt="MegaTrans Logo" height="100%" width="100%">
        <br>
        <br>
        <mat-label class="welcome-message" style="text-align: center"> <b>¡BIENVENIDO! SE REQUIERE SU CORREO Y CONTRASEÑA
          PARA ACCEDER</b>
        </mat-label>
        <br>
        <br>
        <mat-card-content>
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <!-- Nombre de Usuario -->
            <mat-form-field class="full-width" appearance="fill"
                            [ngClass]="{'mat-form-field-invalid': f.submitted && !nombreUsuario || errMsj?.includes('Usuario') }">
              <mat-label>Correo</mat-label>
              <input matInput type="text" name="nombreUsuario" id="nombreUsuario" [(ngModel)]="nombreUsuario" required>
              <mat-error *ngIf="f.submitted && !nombreUsuario">El correo es obligatorio</mat-error>
              <mat-error *ngIf="errMsj?.includes('Usuario')">El correo de usuario no existe</mat-error>
            </mat-form-field>

            <!-- Contraseña -->
            <mat-form-field class="full-width" appearance="fill"
                            [ngClass]="{'mat-form-field-invalid': f.submitted && !password || errMsj?.includes('Contraseña') }">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'"
                     name="password"
                     id="password"
                     [(ngModel)]="password"
                     required >

              <!-- Botón para mostrar/ocultar contraseña con matSuffix -->
              <button mat-icon-button matIconSuffix  (click)="togglePasswordVisibility()" type="button">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>

              <mat-error *ngIf="f.submitted && !password">La contraseña es obligatoria</mat-error>
              <mat-error *ngIf="errMsj?.includes('Contraseña')">La contraseña es incorrecta</mat-error>
            </mat-form-field>




            <!-- Mensaje de error de autenticación -->
            <div *ngIf="errMsj && !errMsj.includes('Usuario') && !errMsj.includes('Contraseña')" class="error-message">
              <mat-error>{{ errMsj }}</mat-error>
            </div>

            <!-- Botón con mat-raised-button -->
            <!-- Contenedor para centrar los botones -->
            <div style="text-align: center">
              <button mat-raised-button color="primary" class="custom-button2" [disabled]="!f.valid">
                <i class="fas fa-sign-in-alt"></i> Ingresar
              </button>
              <br><br>
              <button mat-raised-button routerLink="/registro" class="custom-button2">Registrarse</button>
            </div>

          </form>
        </mat-card-content>
      </mat-card>

    </div>
  </ng-template>
</app-menu>
