<app-menu class="sticky-menu">
  <div class="card-container">
    <!-- Contenedor para aplicar *ngIf y *ngFor -->
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!isLoading && dataSource">

      <!-- Tabs para filtrar por estado -->
      <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="filtrarPorEstado()" class="sticky-tabs">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="mat-icon">watch_later</mat-icon>
            <b>Recolectar</b>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>local_shipping</mat-icon>
            <b>Transporte</b>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>check_circle</mat-icon>
            <b>Entregado</b>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <!-- Tarjetas para cada detalle de encomienda -->
      <mat-card *ngFor="let element of dataFiltrada" class="detalle-card">
        <mat-card-header>
          <mat-card-title>{{ element.cliente?.nombre }} {{ element.cliente?.apellido }}</mat-card-title>
          <mat-card-subtitle>Número de Guía: {{ element.numGuia }}</mat-card-subtitle>
          <!-- Condición para mostrar el número de lote o un texto alternativo -->
          <mat-card-subtitle>
            #Lote:
            <span *ngIf="element.lote?.numLote; else noLote">
                {{ element.lote.numLote }}</span>
            <ng-template #noLote>
              -----
            </ng-template>
          </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
          <p><strong>Fecha:</strong> {{ element.fecha }}</p>
          <p><strong>Dirección Remitente:</strong> {{ element.dirRemitente }}</p>
          <p><strong>Nombre Destinatario:</strong> {{ element.nombreD }} {{ element.apellidoD }}</p>
          <p><strong>Teléfono Beneficiario:</strong> {{ element.telfBeneficiario }}</p>
          <p><strong>Estado:</strong> {{ element.estado }}</p>
          <p><strong>Tipo de Entrega:</strong> {{ element.tipoEntrega }}</p>
          <p><strong>Ruta:</strong> {{ element.ruta }}</p>
          <p><strong>Referencia:</strong> {{ element.referenciaD }}</p>
          <p><strong>Correo:</strong> {{ element.correoD }}</p>
        </mat-card-content>

        <mat-card-actions style="display: flex; justify-content: center; gap: 10px;">
          <!-- Botón para ver más detalles -->
          <button mat-flat-button class="transporte-label" (click)="visualizarDetalle(element)">Ver más</button>

          <!-- Botón para cambiar el estado -->
          <button mat-flat-button class="transporte-label1" (click)="abrirDialogoEstado(element)">Cambiar Estado</button>
        </mat-card-actions>
      </mat-card>
      <!-- Botón de añadir unidad -->
      <button mat-fab color="primary" class="add-btn transporte-label2 " (click)="obtenerDetallesEncomienda()">
        <mat-icon class="mat-icon1">autorenew</mat-icon>
      </button>
    </div>


    <!-- Mensaje de error si no hay datos o ocurrió un problema -->
    <mat-card *ngIf="!isLoading && dataFiltrada.length === 0" class="error-card">
      <mat-card-content>
        <p>No se encontraron detalles de Encomienda.</p>
      </mat-card-content>
    </mat-card>
    <!-- Indicador de carga -->
    <mat-card *ngIf="!isLoading && errorMessage" class="error-card">
      <mat-card-content>
        <p>Cargando...</p>
      </mat-card-content>
    </mat-card>
  </div>
</app-menu>
