<app-menu>
  <form [formGroup]="detalleEncomienda" (ngSubmit)="onSubmit2()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Detalle de Encomienda</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="form-group">
          <mat-divider></mat-divider>
          <h3>Seleccione en el mapa el Punto de Recoleccion:</h3>
          <div id="mapOrigen" style="height: 220px; width: 100%;"></div>

          <!-- Dirección de Origen -->
          <div>
            <br>
            <input id="latitudOrg" formControlName="latitudOrg" hidden="hidden">
            <input id="longitudOrg" formControlName="longitudOrg" hidden="hidden">
          </div>

          <mat-divider></mat-divider>
          <h3>Seleccione en el mapa el Lugar de Entrega:</h3>
          <div id="mapDestino" style="height: 220px; width: 100%;"></div>
          <div>
            <input id="latitudDestino" formControlName="latitudDestino" hidden="hidden">
            <input id="longitudDestino" formControlName="longitudDestino" hidden="hidden">
            <br>
          </div>
          <mat-divider></mat-divider>
          <br>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Dirección del remitente</mat-label>
            <input matInput formControlName="dirRemitente" required/>
            <mat-error *ngIf="detalleEncomienda.get('dirRemitente')?.hasError('required')">
              Dirección del remitente es obligatoria.
            </mat-error>
          </mat-form-field>

          <mat-divider></mat-divider>
          <br>
          <div class="form-container">
            <!-- Columna 1 -->
            <div class="column">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nombres del destinatario</mat-label>
                <input matInput formControlName="nombreD" required/>
                <mat-error *ngIf="detalleEncomienda.get('nombreD')?.hasError('required')">
                  Nombre del destinatario es obligatorio.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Apellidos del destinatario</mat-label>
                <input matInput formControlName="apellidoD" required/>
                <mat-error *ngIf="detalleEncomienda.get('apellidoD')?.hasError('required')">
                  Apellido del destinatario es obligatorio.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Cedula del destinatario</mat-label>
                <input matInput formControlName="identificacionD" required inputmode="numeric"/>
                <mat-error *ngIf="detalleEncomienda.get('identificacionD')?.hasError('required')">
                  Identificación es obligatoria.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('identificacionD')?.hasError('pattern')">
                  Solo se permiten números.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('identificacionD')?.hasError('maxlength')">
                  Máximo 13 dígitos permitidos.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('identificacionD')?.hasError('minlength')">
                  Minimo 10 dígitos permitidos.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Celular del Destinatario</mat-label>
                <input matInput formControlName="telfBeneficiario" required maxlength="10"/>
                <mat-error *ngIf="detalleEncomienda.get('telfBeneficiario')?.hasError('required')">
                  Teléfono del beneficiario es obligatorio.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('telfBeneficiario')?.hasError('pattern')">
                  Solo se permiten números.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('telfBeneficiario')?.hasError('maxlength')">
                  Máximo 10 dígitos permitidos.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Columna 2 -->
            <div class="column">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Celular Secundario</mat-label>
                <input matInput formControlName="telfEncargado" required maxlength="10"/>
                <mat-error *ngIf="detalleEncomienda.get('telfEncargado')?.hasError('required')">
                  Teléfono secundario es obligatorio.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('telfEncargado')?.hasError('pattern')">
                  Solo se permiten números.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('telfEncargado')?.hasError('maxlength')">
                  Máximo 10 dígitos permitidos.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Correo del destinatario</mat-label>
                <input matInput formControlName="correoD" required/>
                <mat-error *ngIf="detalleEncomienda.get('correoD')?.hasError('required')">
                  Correo del destinatario es obligatorio.
                </mat-error>
                <mat-error *ngIf="detalleEncomienda.get('correoD')?.hasError('email')">
                  Ingrese un correo electrónico válido.
                </mat-error>
              </mat-form-field>


              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Dirección del destinatario</mat-label>
                <input matInput formControlName="dirDestino" required/>
                <mat-error *ngIf="detalleEncomienda.get('dirDestino')?.hasError('required')">
                  Dirección es obligatoria.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Referencia del destinatario</mat-label>
                <input matInput formControlName="referenciaD" required/>
                <mat-error *ngIf="detalleEncomienda.get('referenciaD')?.hasError('required')">
                  Referencia es obligatoria.
                </mat-error>
              </mat-form-field>
            </div>
          </div>


          <br>
          <mat-divider></mat-divider>
          <br>
          <mat-label><strong>Escoja el Tipo de Entrega</strong></mat-label>
          <br>
          <br>
          <mat-chip-listbox formControlName="tipoEntrega" [(ngModel)]="selectedOption" style="align-items: center">
            <mat-chip-option value="Oficina" class="mudanza-chip"><b style="color:#ffffff;">Retiro Oficina</b>
            </mat-chip-option>
            <mat-chip-option value="Domicilio" class="desalojo-chip"><b style="color:#ffffff;">Entrega Domicilio</b>
            </mat-chip-option>
            <mat-error *ngIf="detalleEncomienda.get('tipoEntrega')?.hasError('required')">
              Tipo de entrega es obligatorio.
            </mat-error>
          </mat-chip-listbox>
          <span *ngIf="selectedOption">Opción seleccionada: <b>{{ selectedOption }}</b></span>

          <br>
          <mat-divider></mat-divider>
          <br>
          <mat-label><strong>Selecione la Ruta:</strong></mat-label>
          <br>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Ruta</mat-label>
            <input matInput [matAutocomplete]="auto" formControlName="ruta" required>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let ruta of filteredRutas | async" [value]="ruta.origen + ' - ' + ruta.destino">
                {{ ruta.origen }} - {{ ruta.destino }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="detalleEncomienda.get('ruta')?.hasError('required')">
              Ruta es obligatoria.
            </mat-error>
            <mat-error *ngIf="detalleEncomienda.get('ruta')?.hasError('rutaInvalida')">
              Ruta no válida. Seleccione una ruta existente.
            </mat-error>
          </mat-form-field>

          <br>
          <mat-divider></mat-divider>
          <br>
          <mat-card class="form-card">
            <mat-card-header>
              <mat-card-title>Agregar Productos</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
              <span>peso y dimenciones aproximadas!</span>
              <br>
              <br>
              <div formArrayName="productosDto">
                <div *ngFor="let producto of productos.controls; let i = index" [formGroupName]="i"
                     class="producto-form-group">
                  <div class="form-row">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Tipo de Producto" formControlName="tipoProducto" required/>
                    </mat-form-field>
                  </div>
                  <div class="form-row">
                    <mat-form-field class="half-width">
                      <input matInput type="number"
                             placeholder="Alto"
                             formControlName="alto"
                             required
                             min="0" step="0.01"/>
                      <span matSuffix style="align-content: end; padding-right:20px">CM</span>
                      <mat-error *ngIf="producto.get('alto')?.invalid && producto.get('alto')?.touched">
                        Solo se permiten números.
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="half-width">
                      <input matInput type="number" placeholder="Ancho" formControlName="ancho" required/>
                      <span matSuffix style="align-content: end; padding-right:20px">CM</span>
                      <mat-error *ngIf="producto.get('ancho')?.invalid && producto.get('ancho')?.touched">
                        Solo se permiten números.
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <div class="form-row">
                    <mat-form-field class="half-width">
                      <input matInput type="number" placeholder="Largo" formControlName="largo" required/>
                      <span matSuffix style="align-content: end; padding-right:20px">CM</span>
                      <mat-error *ngIf="producto.get('largo')?.invalid && producto.get('largo')?.touched">
                        Solo se permiten números.
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="half-width">
                      <input matInput type="number" placeholder="Peso" formControlName="peso" required/>
                      <span matSuffix style="align-content: end; padding-right:20px">Kg</span>
                      <mat-error *ngIf="producto.get('peso')?.invalid && producto.get('peso')?.touched">
                        Solo se permiten números.
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <mat-checkbox formControlName="fragil" class="fragil-checkbox">Frágil</mat-checkbox>
                  <div class="button-container">
                    <button mat-raised-button class="custom-button2" type="button" (click)="removeProducto(i)">Eliminar
                      Producto
                    </button>
                  </div>
                  <br>
                </div>
              </div>
              <div class="add-button-container">
                <button mat-raised-button class="custom-button2" type="button" (click)="addProducto()">Añadir Producto
                </button>
              </div>
            </mat-card-content>
          </mat-card>


          <button mat-raised-button class="custom-button" type="submit">Solicitar
            Encomienda
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</app-menu>
