<app-menu>
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
  </div>

  <ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
      <mat-card class="login-card">
          <button mat-flat-button routerLink="/login" class="custom-button2" >Iniciar Sesion
          </button>
        <br>
        <mat-card-content>
          <form #f="ngForm" (ngSubmit)="onRegister()" novalidate enctype="multipart/form-data">
            <mat-form-field class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" name="nombre" id="nombre" [(ngModel)]="nombre" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Apellido</mat-label>
              <input matInput type="text" name="apellido" id="apellido" [(ngModel)]="apellido" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Cedula/RUC</mat-label>
              <input matInput type="text" name="identificacion" id="identificacion" [(ngModel)]="identificacion  "
                     pattern="[0-9]*" maxlength="13" minlength="10" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Teléfono</mat-label>
              <input matInput type="text" name="telefono" id="telefono" [(ngModel)]="telefono"  pattern="[0-9]*" maxlength="10" minlength="10"  required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Nombre Comercial(opcional)</mat-label>
              <input matInput type="text" name="nombreComercial" id="nombreComercial" [(ngModel)]="nombreComercial">
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Correo</mat-label>
              <input matInput type="text" name="nombreUsuario" id="nombreUsuario" [(ngModel)]="nombreUsuario" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" name="password" id="password" [(ngModel)]="password" required>
            </mat-form-field>

            <div style="text-align: center">
              <button mat-raised-button color="primary" class="custom-button2" [disabled]="!f.valid">
                <mat-icon>person_add</mat-icon>
                Crear Cuenta
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</app-menu>
