.detalle-card {
  width: 95%;
  max-width: 95%; /* Limita el ancho máximo de la tarjeta */
  margin: 10px ; /* Elimina el margen para que esté perfectamente centrado */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.39);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.estado-container {
  text-align: right;
  font-size: 14px;
  color: #000000;
}
.transporte-label2 {
  background-color: black !important;
  color: white !important;
  border: 2px solid red !important;
  min-width: 5px;
}
.add-btn {
  position: fixed;
  bottom: 20px; /* Distancia desde el borde inferior */
  right: 20px;  /* Distancia desde el borde derecho */
  z-index: 1000; /* Asegura que el botón esté encima del contenido */
}
.add-btn2 {
  position: fixed;
  bottom: 85px; /* Distancia desde el borde inferior */
  right: 20px;  /* Distancia desde el borde derecho */
  z-index: 1000; /* Asegura que el botón esté encima del contenido */
}
.info-row {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info-row p {
  margin: 5px 0;
}

.card-header-top mat-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.mat-card-content p {
  font-size: 14px;
}

.compact-button {
  margin: 5px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Aumenta el espacio entre las tarjetas */
  justify-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-card {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 20px;
}

.sticky-tabs {
  position: sticky;
  width: 100%;
  margin-top: 10px; /* Se quedará pegado en la parte superior */
  z-index: 1000; /* Para asegurarse de que esté por encima de otros elementos */
  background: white; /* Color de fondo para evitar transparencia */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra opcional para resaltar */
}


@media screen and (max-width: 769px) {
  .detalle-card {
    width: 100%;
    margin: 10px auto; /* Centra las tarjetas agregando márgenes automáticos */
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Asegura que las tarjetas estén centradas */
    margin: auto; /* Asegura que el contenedor esté centrado */
  }

  .card-header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .estado-container {
    text-align: left;
    margin-top: 10px;
  }

  .info-row {
    flex-direction: column;
  }
}


.center-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Reduce el espacio entre los botones */
}

.compact-button {
  margin: 0;
}

.custom-button {
  background-color: black !important;
  color: white !important;
  border: 2px solid red !important;
  width: 8em; /* Ancho de los botones */
  height: 2.9em; /* Altura de los botones */
  font-size: 1rem; /* Tamaño de texto */
  padding: 0.5em 1em; /* Espaciado interno */
}

.custom-button:hover {
  background-color: darkgray !important;
  border: 2px solid red !important;
}

.mat-icon {
  color: #ff3838 !important;
}

.mat-icon2 {
  color: rgb(255, 255, 255) !important;
  font-size: 16px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.error-card {
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffeaea;
  border-left: 5px solid red;
  padding: 16px;
}
