<mat-toolbar color="primary" class="sticky-menu">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MegaTrans</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [opened]="false">
    <mat-nav-list>
      <a mat-list-item *ngIf="isLogged" routerLink="/perfil" (click)="sidenav.close()">
        <mat-icon>person</mat-icon> Perfil
      </a>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon>dashboard</mat-icon> Inicio
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/crearDetalleTransporte" (click)="sidenav.close()">
        <mat-icon>local_shipping</mat-icon> Transporte
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/empleado/lista" (click)="sidenav.close()">
        <mat-icon>local_shipping</mat-icon> Encomiendas
      </a>
<!--      <a mat-list-item *ngIf="isLogged" routerLink="/listarDetalleTransporte" (click)="sidenav.close()">-->
<!--        <mat-icon>assignment</mat-icon> Mis Solicitudes-->
<!--      </a>-->
      <a mat-list-item *ngIf="isLogged" routerLink="/listarDetalleTransporte" (click)="sidenav.close()">
        <mat-icon>assignment</mat-icon> Solicitudes
      </a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/unidades" (click)="sidenav.close()">
        <mat-icon>directions_bus</mat-icon> Unidades
      </a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/registroEmpleado" (click)="sidenav.close()">
        <mat-icon>person_outline</mat-icon> Empleados
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/empleado/lista" (click)="sidenav.close()">
        <mat-icon>chat</mat-icon> Soporte
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/acercaDe" (click)="sidenav.close()">
        <mat-icon>info</mat-icon> Acerca de nosotros
      </a>

      <a mat-list-item *ngIf="isLogged" (click)="onLogOut(); sidenav.close()">
        <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
