<mat-toolbar color="primary" class="sticky-menu">
  <button mat-icon-button class="red-icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="center-span" >MEGATRANSAPP</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [opened]="false">
    <mat-nav-list>
      <a mat-list-item *ngIf="isLogged" routerLink="/perfil" (click)="sidenav.close()">
        <mat-icon class="red-icon">person</mat-icon> <b>  Perfil</b>
      </a>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon class="red-icon">dashboard</mat-icon><b>  Inicio</b>
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/crearDetalleTransporte" (click)="sidenav.close()">
        <mat-icon class="red-icon">local_shipping</mat-icon> <b>  Transporte</b>
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/crearEncomienda" (click)="sidenav.close()">
        <mat-icon class="red-icon">local_shipping</mat-icon> <b>  Encomiendas</b>
      </a>
<!--      <a mat-list-item *ngIf="isLogged" routerLink="/listarDetalleTransporte" (click)="sidenav.close()">-->
<!--        <mat-icon>assignment</mat-icon> Mis Solicitudes-->
<!--      </a>-->
      <a mat-list-item *ngIf="isLogged" routerLink="/listarDetalleTransporte" (click)="sidenav.close()">
        <mat-icon class="red-icon">assignment</mat-icon> <b>Pedidos Transporte</b>
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/listaEncomienda" (click)="sidenav.close()">
        <mat-icon class="red-icon">assignment</mat-icon> <b>Pedidos Encomienda</b>
      </a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/unidades" (click)="sidenav.close()">
        <mat-icon class="red-icon">directions_bus</mat-icon> <b>  Unidades</b>
      </a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/lotes" (click)="sidenav.close()">
        <mat-icon class="red-icon">commute</mat-icon> <b>  Lotes</b>
      </a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/rutas" (click)="sidenav.close()">
        <mat-icon class="red-icon">map</mat-icon> <b>  Rutas</b>
      </a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/registroEmpleado" (click)="sidenav.close()">
        <mat-icon class="red-icon">person_outline</mat-icon> <b>  Empleados</b>
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/soporte" (click)="sidenav.close()">
        <mat-icon class="red-icon">chat</mat-icon> <b>  Soporte</b>
      </a>
      <a mat-list-item *ngIf="isLogged" routerLink="/acercaDe" (click)="sidenav.close()">
        <mat-icon class="red-icon">info</mat-icon> <b>  Acerca de nosotros</b>
      </a>

      <a mat-list-item *ngIf="isLogged" (click)="onLogOut(); sidenav.close()">
        <mat-icon class="red-icon">exit_to_app</mat-icon> <b>  Cerrar Sesion</b>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
