<h2 mat-dialog-title>Cambiar Estado</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Estado</mat-label>
    <mat-select [(value)]="nuevoEstado">
      <mat-option value="RECOLECTADO">Recolectado</mat-option>
      <mat-option value="ENTREGADO">Entregado</mat-option>
      <mat-option value="CANCELADO">Cancelado</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button color="primary" (click)="cambiarEstado()">Actualizar</button>
</mat-dialog-actions>
