
.unidad-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Espacio entre las tarjetas */
}

.unidad-card {
  width: 90%; /* Ajusta el ancho de las tarjetas */
  cursor: pointer;
}
.acciones {
  margin-top: 20px;
  text-align: center;
}
.unidad-detalles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.unidad-detalles p {
  flex: 1;
  text-align: center;
  font-size: 14px;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card, .error-card {
  width: 400px;
  padding: 20px;
  text-align: left;
}

.error-message {
  color: red;
  font-weight: bold;
}
.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}
