.container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 16px;
}

.soporte-card {
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
}
