<app-menu>
  <mat-card>
    <mat-card-title>Registrar Unidad</mat-card-title>
    <form [formGroup]="unidadForm" (ngSubmit)="onCreate()">

      <mat-form-field appearance="outline">
        <mat-label>Tipo de Unidad</mat-label>
        <input matInput formControlName="tipo" required>
        <mat-error *ngIf="unidadForm.get('tipo')?.invalid">Campo obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo de Cajón</mat-label>
        <input matInput formControlName="tipo_cajon" required>
        <mat-error *ngIf="unidadForm.get('tipo_cajon')?.invalid">Campo obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Altura</mat-label>
        <input matInput type="number" formControlName="altura" required>
        <mat-error *ngIf="unidadForm.get('altura')?.invalid">Ingrese un valor</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ancho</mat-label>
        <input matInput type="number" formControlName="ancho" required>
        <mat-error *ngIf="unidadForm.get('ancho')?.invalid">Ingrese un valor</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Largo</mat-label>
        <input matInput type="number" formControlName="largo" required>
        <mat-error *ngIf="unidadForm.get('largo')?.invalid">Ingrese un valor</mat-error>
      </mat-form-field>

      <div class="file-input-container">
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
          name="imagenUrl"
          id="fileInput"
          hidden
        />
        <label for="fileInput" class="file-label">
          <span class="file-label-text">Seleccionar imagen</span>
        </label>
        <br>
        <img *ngIf="imagenPreview" [src]="imagenPreview" class="preview" />
      </div>

      <br>
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="unidadForm.invalid">
        Registrar
      </button>
      <button mat-raised-button color="primary" routerLink="/unidades">
        Volver
      </button>

    </form>
  </mat-card>


</app-menu>
