mat-card {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.file-input {
  margin-top: 15px;
}

.preview {
  width: 100px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}
.file-input-container {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
}

input[type="file"] {
  display: none; /* Ocultamos el input real */
}

.file-label {
  display: inline-block;
  background-color: black !important;
  color: white !important;
  border: 2px solid red !important;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  min-width: 140px; /* Define un ancho mínimo */
  text-align: center; /* Asegura que el texto esté centrado */
}


.file-label:hover {
  background-color: #956767;
}

.file-label-text {
  font-weight: bold;
}

.preview {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaciado entre campos */
}

mat-form-field {
  flex: 1; /* Hace que los campos crezcan y ocupen espacio disponible */
  min-width: 250px; /* Evita que sean demasiado pequeños en pantallas pequeñas */
}
.file-label1 {
  display: inline-block;
  background-color: black !important;
  color: white !important;
  border: 2px solid red !important;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  min-width: 140px; /* Define un ancho mínimo */
  text-align: center; /* Asegura que el texto esté centrado */
}

