<h2 class="title">Cambiar Contraseña</h2>
<form [formGroup]="passwordForm" class="password-form">


  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Contraseña actual</mat-label>
    <input matInput formControlName="password"
    [type]="hidePassword? 'password' : 'text'">
    <button mat-icon-button matIconSuffix  (click)="togglePasswordVisibility()" type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Contraseña Nueva</mat-label>
    <input matInput formControlName="newPassword"
           [type]="hidePassword? 'password' : 'text'">
    <button mat-icon-button matIconSuffix  (click)="togglePasswordVisibility()" type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button class="custom-button2" (click)="cambiarPassword()">Actualizar</button>
    <button mat-raised-button class="custom-button2" (click)="cancelar()">Cancelar</button>
  </div>
</form>
