/* Centrar el contenedor del formulario */
.password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 400px; /* Ajusta según el tamaño que desees */
}

/* Alineación de los campos de entrada */
.input-field {
  width: 85%;
  margin-bottom: 20px; /* Espaciado entre los campos */
}

/* Alineación de los botones */
.button-group {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 10px; /* Espacio entre los botones */
}

/* Título centrado */
.title {
  text-align: center;
  margin-bottom: 20px;
}
