/* Centrar el contenedor del formulario */
.password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 400px; /* Ajusta según el tamaño que desees */
}

/* Alineación de los campos de entrada */
.input-field {
  width: 85%;
  margin-bottom: 20px; /* Espaciado entre los campos */
}

/* Alineación de los botones */
.button-group {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 10px; /* Espacio entre los botones */
}

/* Título centrado */
.title {
  text-align: center;
  margin-bottom: 20px;
}
.custom-button2 {
  background-color: black !important;
  color: white !important;
  border: 2px solid red !important;
  width: 18em;         /* Ancho en unidades relativas */
  height: 2.8em;         /* Altura en unidades relativas */
  font-size: 1rem;     /* Tamaño de texto relativo */
  padding: 0.5em 1em;  /* Espaciado interno relativo */
  display: inline-block;
  margin: 5px auto;   /* Centra los botones horizontalmente */
}


.custom-button:hover {
  background-color: darkgray !important; /* Fondo al pasar el ratón */
  border: 2px solid red !important;      /* Bordes rojos al pasar el ratón */
}
