<!-- Menu con Angular Material -->
<app-menu>

  <!-- Contenido principal -->
  <div class="container text-center">
    <mat-card class="welcome-card">
      <!--      <mat-card-header>-->
      <!--        <mat-card-title>-->
      <!--          <h3 style="font-family: 'TERMINATOR', sans-serif"><b>BIENVENIDO!</b></h3>-->
      <!--        </mat-card-title>-->
      <!--      </mat-card-header>-->
      <img src="assets/images/logoFbkr.png" alt="Descripción de la imagen" class="welcome-image">

      <mat-card-content>

        <div *ngIf="isLogged; else loggedOut">
          <!-- Verificamos si nombreComercial existe -->
          <div style="text-align: center">
            <h2 *ngIf="nombreComercial && nombreComercial.trim() !== ''" class="nombre-comercial">
              ¡Bienvenido {{ nombreComercial }}!
              <h6>{{ nombreCompleto }}</h6>
            </h2>

            <!-- Si no tiene nombreComercial, mostramos solo nombreCompleto -->
            <h2 *ngIf="!nombreComercial || nombreComercial.trim() === ''" class="nombre-completo">
              ¡Hola, {{ nombreCompleto }}!
            </h2>
          </div>


          <p style="text-align: center"><i>"Soluciones logisticas de carga y mudanza al alcance de tus manos."</i></p>

          <h3>Selecciona el servicio que nesecitas: </h3>

          <div class="button-grid">
            <button mat-raised-button class="custom-button" routerLink="/crearEncomienda">
              Encomiendas
            </button>
            <button mat-raised-button class="custom-button" routerLink="/crearDetalleTransporte">
              Transporte
            </button>
            <!--            <button mat-raised-button class="custom-button" routerLink="/detalleEncomienda">-->
            <!--              Facturación-->
            <!--            </button>-->
            <button mat-raised-button class="custom-button" (click)="openSearchDialog()">
              Búsqueda
            </button>
            <button mat-raised-button class="custom-button" *ngIf="isAdmin" (click)="openQrScanner()">
              QR
            </button>


          </div>

        </div>
        <h6 *ngIf="isAdmin">Conteo de usuarios: {{ usuarioCount }}</h6>
        <br>
        <br>
        <div style="text-align: center"><a  href="https://www.camionesmegatrans.com" target="_blank" rel="noopener noreferrer"
                style="text-align: center; font-size: 14px">
          www.camionesmegatrans.com
        </a></div>


        <ng-template #loggedOut>
          <h2>No has iniciado sesión</h2>
          <p>Por favor, ingresa para comenzar a utilizar la aplicación.</p>
          <div style="text-align: center">
            <button mat-raised-button color="primary" routerLink="/login" class="custom-button2">
              Ingresar o Registrarse
            </button>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <br>
  </div>

</app-menu>
