<!-- Menu con Angular Material -->
<app-menu>

  <!-- Contenido principal -->
  <div class="container text-center">
    <mat-card class="welcome-card">



      <mat-card-header>
        <mat-card-title>
          <h3 style="font-family: 'TERMINATOR', sans-serif"><b>BIENVENIDO!</b></h3>
        </mat-card-title>      </mat-card-header>
      <img src="assets/images/MegaTrans.png" alt="Descripción de la imagen" class="welcome-image">

      <mat-card-content>
        <div *ngIf="isLogged; else loggedOut">
          <!-- Verificamos si nombreComercial existe -->
          <h2 *ngIf="nombreComercial && nombreComercial.trim() !== ''" class="nombre-comercial">
            ¡Hola, {{ nombreComercial }}!
            <h6>{{nombreCompleto}}</h6>
          </h2>



          <!-- Si no tiene nombreComercial, mostramos solo nombreCompleto -->
          <h2 *ngIf="!nombreComercial || nombreComercial.trim() === ''" class="nombre-completo">
            ¡Hola, {{ nombreCompleto }}!
          </h2>



          <p>Bienvenido! ,aquí puedes gestionar tu transporte en </p>
          <p style="font-family: 'TERMINATOR', sans-serif ; text-align: center" >CAMIONESMEGATRANS.</p>
          <br>
          <div class="button-grid">
            <button mat-raised-button class="custom-button" routerLink="/crearDetalleTransporte" >
              Transporte/Mudanza
            </button>
            <button mat-raised-button class="custom-button" routerLink="/detalleEncomienda" >
              Encomiendas
            </button>
            <button mat-raised-button class="custom-button" routerLink="/detalleEncomienda" >
              Facturación
            </button>
            <button mat-raised-button class="custom-button" (click)="openSearchDialog()">
              Búsqueda
            </button>
            <button mat-raised-button class="custom-button" (click)="openQrScanner()">
              📷 Escanear QR
            </button>


          </div>
        </div>

        <ng-template #loggedOut>
          <h2>No has iniciado sesión</h2>
          <p>Por favor, ingresa para comenzar a utilizar la aplicación.</p>
          <button mat-raised-button color="primary" routerLink="/login" class="custom-button2">
            Ingresar o Registrarse
          </button>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <br>
  </div>

</app-menu>
