<app-menu>
  <div class="rutas-container">
    <h2>Lista de Rutas</h2>
    <ul class="rutas-list">
      <li *ngFor="let ruta of rutas" class="ruta-item">
        <span class="ruta">{{ ruta.origen }} - {{ ruta.destino }}</span>

        <!-- Botón de Editar -->
        <button class="custom-button" (click)="editarRuta(ruta)"><mat-icon>edit</mat-icon>

        </button>

        <!-- Botón de Eliminar -->
        <button class="custom-button" (click)="eliminarRuta(ruta.id)"><mat-icon>add_circle</mat-icon></button>
      </li>
    </ul>

    <!-- Botón para agregar ruta -->
    <button mat-fab color="primary" class="add-btn custom-button-crear" (click)="crearRuta()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</app-menu>
